
@{
    ViewBag.Title = "ManageCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<table id="categoryTable">
    <thead>
        <tr>
            <th>CategoryId</th>
            <th>Category Name</th>
            <th></th>
        </tr>
    </thead>
</table>