@model IEnumerable<Project.Models.ViewModel.BookingViewModel>
<div class="overview-item overview-item--c2">
    <div class="overview__inner">
        <div class="overview-box clearfix">
            <div class="icon">

                
            </div>
            <div class="text">
                <h2>@ViewBag.PendingBooking</h2>
                <span> Pending and Confirmed</span>
            </div>
        </div>
        <div class="overview-chart">
            <canvas id="widgetChart2"></canvas>
        </div>
    </div>
</div>