@model Project.Models.ViewModel.ItemViewModel

<style>
    input, button {
        width: 134px;
    }
</style>
@using (Html.BeginForm("Shop", "Home", FormMethod.Post, new { @enctype = "multipart/form-data", autocomplete = "off" }))
{

    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="guests">Available from:</label>
                <div class="form-field">
                    @*<i class="icon icon-arrow-down3"></i>*@
                    @*<select name="people" id="people" class="form-control">
                            <option value="#">1</option>
                            <option value="#">200</option>
                            <option value="#">300</option>
                            <option value="#">400</option>
                            <option value="#">1000</option>
                        </select>*@
                    @Html.TextBoxFor(model => model.Start, new { type = "date", @class = "dates", @id = "start", placeholder = "Check Out Date" })

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="guests">Available to:</label>
                <div class="form-field">
                    @*<i class="icon icon-arrow-down3"></i>*@
                    @*<select name="people" id="people" class="form-control">
                            <option value="#">2000</option>
                            <option value="#">4000</option>
                            <option value="#">6000</option>
                            <option value="#">8000</option>
                            <option value="#">10000</option>
                        </select>*@
                    @Html.TextBoxFor(model => model.End, new { type = "date", @class = "dates", @id = "end", placeholder = "Check Out Date" })



                </div>

            </div>
        </div>
    </div>
    <input type="submit" id="start" value="Check">
}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {

        })
        $('.dates').change(function () {
            var cin = $('#start').val();
            var checkin = new Date(cin);
            var cout = $('#end').val();
            var checkout = new Date(cout);
            var date = new Date();

            date.setDate(date.getDate() - 1);

            if (checkin < date) {
                $('#start').val('');
            }

            if (cin != null && cout != null) {
                if (checkin > checkout) {
                    $('#start').val('');
                    $('#end').val('');
                }
            }
        })



    </script>