@model IEnumerable<Project.Models.ViewModel.BookingViewModel>


<div class="overview-item overview-item--c4">
    <div class="overview__inner">
        <div class="overview-box clearfix">
            <div class="icon">
                <i class="zmdi zmdi-money"></i>
            </div>
            <div class="text">
                <h2>@ViewBag.Total</h2>
                <span>total earnings</span>
            </div>
        </div>
        <div class="overview-chart">
            <canvas id="widgetChart4"></canvas>
        </div>
    </div>
</div>